@{
    ViewData["Title"] = "My Bonus";
}
@model DynamicRoleBasedAuthorization.ViewModel.MyBonusDetailsModelView
@section Styles{

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!--icon font css~vendors/themify-icon/themify-icons.css-->
    <link rel="stylesheet" href="~/vendors/themify-icon/themify-icons.css">
    <link rel="stylesheet" href="~/vendors/simple-line-icon/simple-line-icons.css">
    <link rel="stylesheet" href="~/vendors/font-awesome/css/all.css">
    <link rel="stylesheet" href="~/vendors/flaticon/flaticon.css">
    <link rel="stylesheet" href="~/vendors/animation/animate.css">
    <link rel="stylesheet" href="~/vendors/owl-carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/vendors/animation/animate.css">
    <link rel="stylesheet" href="~/vendors/magnify-pop/magnific-popup.css">
    <link rel="stylesheet" href="~/vendors/elagent/style.css">
    <link rel="stylesheet" href="~/vendors/scroll/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
}




<section class="fun_fact_area fun_fact_area_two Fun_fa_fse">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-7 col-md-6">
                <div class="fact_author_img fact_author_img_two text-right">
                    <div class="square_box box_three"></div>
                    <div class="square_box box_four"></div>
                    <img class="wow fadeInUp" data-wow-delay="0.3s" src="~/img/home-tracking/tracking_banner_img.png" alt=""
                         style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="fun_fact_content">
                    <h1 class="t_color3 f_p f_700 mb_20">MY Details</h1>
                    @*<p class="f_400 f_size_15 l_height28 mb_40">Why I say old chap that is spiffing barney, nancy
                        boy bleeder chimney pot Richard cheers the little rotter so I said, easy peasy buggered
                        blower bevvy A bit of how's your father he nicked it arse over tit. </p>*@
                    <div class="d-flex">
                        <div class="fact_item">
                            <h1 class="t_color3">BOINTS</h1>
                            <h4 class="mb-0"><span>@Model.bonus.TotalBouns</span> Unit</h4>
                        </div>
                        <div class="fact_item pl_100">
                            <h1 class="t_color3">MONEY</h1>
                            <h4 class="mb-0">$<span>@(Model.bonus.TotalBouns * 0.00005)</span> / - $20</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="tracking_activity_area">
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">My Videos</th>
                    <th scope="col">URL</th>
                    <th scope="col">Status</th>
                    <th scope="col">Views On It</th>
                    <th scope="col">Bouns From It</th>
                    <th scope="col">Duration Time</th>
                    <th scope="col">Uploaded at</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Myownvids)
                {
                    <tr>
                        <th scope="row">-</th>
                        @foreach (var item2 in Model.Video)
                        {
                            @if (item2.id == item.VideoId)
                            {
                                <td>@item2.IframUri</td>
                                @if (@item2.status == 1)
                                {

                                    <td>Approved</td>
                                }
                                else
                                {
                                    <td>Pending</td>

                                }


                            }

                        }

                        <td>@item.ViewsOnIt</td>
                        <td>@item.EarnBounsFromIt</td>
                        <td>@item.DurationTime</td>
                        <td>@item.UploadedAt</td>
                    </tr>
                }

                @*<tr>
                        <th scope="row"></th>
                        <td>https://youtu.be/nIY6VxBKgaU</td>
                        <td>0</td>
                        <td>0</td>
                        <td>2300 sec</td>
                        <td>2022-01-26 00:45:44.807</td>
                    </tr>*@

            </tbody>
        </table>
    </div>
</section>


@section Scripts{
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/propper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/vendors/wow/wow.min.js"></script>
    <script src="~/vendors/sckroller/jquery.parallax-scroll.js"></script>
    <script src="~/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/vendors/isotope/isotope-min.js"></script>
    <script src="~/vendors/magnify-pop/jquery.magnific-popup.min.js"></script>
    <script src="~/vendors/counterup/jquery.counterup.min.js"></script>
    <script src="~/vendors/counterup/jquery.waypoints.min.js"></script>
    <script src="~/vendors/counterup/appear.js"></script>
    <script src="~/vendors/circle-progress/circle-progress.js"></script>
    <script src="~/vendors/stellar/jquery.stellar.js"></script>
    <script src="~/vendors/scroll/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/main.js"></script>

}